@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins';
}

body {
  overflow-x: hidden;
}

header {
  position: sticky;
  top: 0;
  width: 100vw;
  background-color: white;
  height: 80px;
  z-index: 1;
  margin-bottom: 1.5rem;
}

h1 {
  font-weight: 500;
  padding: 5px;
}

h1 span {
  color: purple;
}

.wrapper {
  background: #1c1c1c;
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  text-decoration: none;
  padding: 0;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

li {
  height: 150px;
  width: 150px;
  padding: 13px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

img:hover,
img:active {
  object-fit: contain;
}

li:hover,
li:active {
  transform: scale(1.5);
  object-fit: contain;
}

img:last-child {
  flex-grow: 10;
}


/* MEDIA QUERIES TABLET */
@media (min-width: 350px) {
  ul {
    flex-direction: row;
    flex-wrap: wrap;
  }

  li {
    flex-grow: 1;
    list-style: none;
    transition: all .9s ease-in-out;
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 676px) {
  li {
    height: 300px;
    width: 300px;
  }
}

@media (min-width: 1024px) {
  li {
    height: 300px;
    width: 300px;
  }
}